<div class="flex flex-row items-center">
  <div class="w-32 h-32 mr-16">
    {% include components/author_avatar, author: author %}
  </div>

  <p class="text-gray">
    {% if category %}
      {{ author.name }} · {{ category | capitalize }} · {{ date | date: "%B %Y" }}
    {% else %}
      {{ author.name }} · {{ date | date: "%B %Y" }}
    {% endif %}
  </p>
</div>
