<!DOCTYPE html>
<html lang="{{" metadata.lang }} class="no-js">
  <head>
    <link rel="icon" href="/favicon.png" />
    <link rel="apple-touch-icon" href="/favicon.png" />
    <script type="module" src="/assets/scripts/index.js"></script>
    <link href="/assets/styles/index.css" rel="stylesheet" />

    <meta charset="utf-8" />
    <title>{{ title | default: metadata.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="{{ metadata.description }}" />
    <meta name="keywords" content="{{ metadata.keywords }}" />

    <meta content="{{ metadata.title }}" property="og:title" />
    <meta content="{{ metadata.description }}" property="og:description" />
    <meta content="{{ metadata.image }}" property="og:image" />

    <meta content="{{ metadata.title }}" property="twitter:title" />
    <meta content="{{ metadata.description }}" property="twitter:description" />
    <meta content="{{ metadata.image }}" property="twitter:image" />

    <meta content="{{ metadata.title }}" property="twitter:title" />
    <meta content="{{ metadata.description }}" property="twitter:description" />
    <meta content="{{ metadata.image }}" property="twitter:image" />

    <meta property="og:type" content="website" />
    <meta content="summary_large_image" name="twitter:card" />

    <script>
      window.addEventListener("DOMContentLoaded", function () {
        document.documentElement.classList.remove("no-js")
        document.documentElement.classList.add("has-js")
      })
    </script>
  </head>

  <body class="h-full text-black">
    {% include components/navbar %}

    <main class="max-w-18-col py-104 md:pt-56 md:pb-88 mx-auto">
      {{ content }}
    </main>

    {% include components/footer %}
  </body>
</html>
