---
layout: layouts/base.liquid
---

<link
  href="/assets/styles/prism.css"
  rel="stylesheet"
  data-helmet="prism-theme-css"
/>

<article class="flex flex-col items-center mx-auto max-w-12-col md:max-w-none">
  <div class="max-w-10-col mx-auto mb-72 lg:max-w-none lg:px-gutter">
    <h1 class="text-2xl text-brand mb-40">
      {{ title }}
    </h1>

    {% assign category = null %}
    {% include components/author, author: author, date: date %}
  </div>

  <div class="prose prose-center lg:max-w-full lg:prose-full text-lg font-serif md:break-words">
    {{ content }}
  </div>

  <div class="flex flex-row md:flex-col w-full mt-80 justify-between lg:px-gutter">
    <div>
      <p class="mb-16 font-edgy">Written by</p>

      <div class="flex flex-row items-center md:mb-48">
        <div class="w-48 h-48 mr-16">
          {% include components/author_avatar, author: author %}
        </div>

        <div class="flex flex-col">
          <p class="text-lg">{{ author.name }}</p>
          <p class="text-gray">{{ author.role }}</p>
        </div>
      </div>
    </div>

    <div>
      <p>Share</p>

      <ul class="flex flex-row space-x-24 mt-16 items-center">
        {% assign post_url = metadata.host | append: page.url | url %}
        <li class="hover:opacity-60">
          <a href="https://twitter.com/intent/tweet?url={{ post_url }}">{% include vectors/social_media/twitter.svg %}</a>
        </li>
        <li class="hover:opacity-60">
          <a
            href="https://www.linkedin.com/shareArticle?mini=true&url={{
              post_url
            }}"
            >{% include vectors/social_media/linkedin.svg %}</a
          >
        </li>
        <li class="hover:opacity-60">
          <a href="https://www.facebook.com/sharer/sharer.php?u={{ post_url }}"
            >{% include vectors/social_media/facebook.svg %}</a
          >
        </li>
      </ul>
    </div>
  </div>
</article>
