---
layout: layouts/base.liquid
---

<link href="/assets/styles/prism.css" rel="stylesheet" data-helmet="prism-theme-css">

<article class="flex flex-col items-center mx-auto max-w-12-col">
  <div class="prose prose-center text-lg font-serif">
    <h1 class="text-2xl">
      {{ title }}
    </h1>

    {{ content }}
  </div>

  <div class="flex flex-row w-full mt-80 justify-between">
    <div>
      <p class="mb-16">Written by</p>

      <div class="flex flex-row items-center">
        <div class="w-48 h-48 mr-16">
          {% include components/author_avatar, author: author %}
        </div>

        <div class="flex flex-col">
          <p>{{ author.name }}</p>
          <p class="text-sm text-gray">{{ author.role }}</p>
        </div>
      </div>
    </div>

    <div>
      <p>Share</p>

      <ul class="flex flex-row space-x-24 mt-16">
        {% assign post_url = metadata.host | append: page.url | url %}
        <li><a href="https://www.facebook.com/sharer/sharer.php?u={{ post_url }}">Fb</a></li>
        <li><a href="https://www.linkedin.com/shareArticle?mini=true&url={{ post_url }}">In</a></li>
        <li><a href="https://twitter.com/intent/tweet?url={{ post_url }}">Tw</a></li>
      </ul>
    </div>
  </div>
</article>
