<div class="flex flex-row items-center">
  <div class="w-32 h-32 mr-16">
    {% include components/author_avatar, author: post.author %}
  </div>

  <p class="text-gray">
    {% if post.category %}
      {{ post.author.name }} · {{ post.category | capitalize }} · {{ post.published_at | date: "%B %Y" }}
    {% else %}
      {{ post.author.name }} · {{ post.published_at | date: "%B %Y" }}
    {% endif %}
  </p>
</div>
