{% if posts.length > 0 %}
  <ul class="grid gap-x-gutter gap-y-96 grid-cols-2 px-56 md:px-0 md:gap-y-72">
    {% assign first_post = posts | first %}


    <li class="flex flex-col col-span-2">
      <div class="h-336 w-full bg-gray-light">
        <a href="/blog/{{ first_post.slug.current | slug }}/">
          {% responsiveImage first_post.featured_image.asset.url first_post.featured_image_alt "h-336 w-full object-cover object-center" %}
        </a>
      </div>

      <div class="grid grid-cols-2 mt-24 lg:grid-cols-1 md:px-gutter">
        <div class="flex flex-col lg:mb-40">
          <a
            class="block text-xl md:text-xl mr-column-spacing md:mr-0 font-edgy font-bold"
            href="/blog/{{ first_post.slug.current | slug }}/"
          >
            {{ first_post.title }}
          </a>

          <div class="lg:hidden mt-40">
            {% include components/author, post: first_post %}
          </div>
        </div>

        <a class="md:mt-0 mt-8 prose text-lg font-serif" href="/blog/{{ first_post.slug.current | slug }}/">
          {{ first_post.long_description | markdownifyInline }} →
        </a>

        <div class="hidden lg:block lg:mt-40 md:mt-32">
          {% include components/author, post: first_post %}
        </div>
      </div>
    </li>

    {%- for post in posts offset: 1 -%}
    <li class="flex flex-col lg:col-span-2">
      <div class="h-336 w-full bg-gray-light">
        <a href="/blog/{{ post.slug.current | slug }}/">
          {% responsiveImage post.featured_image.asset.url post.featured_image_alt "h-336 w-full object-cover object-center" %}
        </a>
      </div>

      <div class="md:px-gutter">
        <a class="block text-xl md:text-xl mt-32 font-edgy font-bold" href="/blog/{{ post.slug.current | slug }}/">
          {{ post.title }}
        </a>

        <a class="block my-40 md:my-32 font-serif prose text-lg" href="/blog/{{ post.slug.current | slug }}/">
          {{ post.long_description | markdownifyInline }} →
        </a>

        {% include components/author, post: post %}
      </div>
    </li>
    {%- endfor -%}
  </ul>
{% endif %}
